@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.modal {
  position: fixed;
  right: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.829);
  z-index: 10;
  backdrop-filter: blur(4.5px);
}

.modalContent {
  background-color: white;
  overflow: scroll;
  position: fixed;
  top: 44px;
  right: 0;
  padding: 2rem;
  width: 30%;
  z-index: 20;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 90%;
}

.button {
  background-color: #a4ca92;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.011rem;
  transition: 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: #459539;
  cursor: pointer;
}

.button:hover {
  background-color: #8eb37d;
  color: white;
  cursor: pointer;
}

.name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.line {
  height: 0.1rem;
  background-color: #00000094;
  width: 100%;
}

.line2 {
  height: 0.03rem;
  background-color: #10e02f94;
  width: 100%;
}

.subtitulos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.subs {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.singleProductContaine {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.changeContainer {
  display: flex;
  flex-direction: row;
}

.alo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.palurdo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px; /* Añadir un margen para separar cada tamaño */
}
.containerGen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: black;
  width: 50%;
}

.sub {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.price {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: black;
}
.singleProductContaine {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.changeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.alo {
  display: flex;
  flex-direction: column; /* Cambiado a column para que los items se muestren verticalmente */
  align-items: flex-start; /* Alineamos a la izquierda */
  width: 100%;
}

.changeButton {
  background: none;
  border: none;
  color: #70b756;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

.palurdo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.containerGen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.ab {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contenedorImagen {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.nombre {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: black;
}

.abajo {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.generalAbajo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button2 {
  background-color: #56b947;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.011rem;
  transition: 0.2s;
  cursor: pointer;
}

.button2:hover {
  background-color: #459539;
  cursor: pointer;
}

.total {
  color: green;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.codigo {
  margin-top: 1rem;
  background: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  color: black;
  transition: 0.1s;
  align-self: flex-end;
}

.codigo:hover {
  color: #70b756;
}

.discount {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.numberdisc {
  color: rgb(118, 11, 11);
}

.closeButton {
  background-color: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: #56b947;
  align-self: flex-end;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .modalContent {
    width: fit-content;
    left: 0;
    overflow: scroll;
  }

  .modal {
    width: 100%;
    overflow: scroll;
  }
}
