@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.formSubs {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.011rem;
}

.closeModal {
  color: #56b947;

  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.011rem;
}

.input {
  min-width: 19.5rem;
  max-width: 20.5rem;
  height: 2.3125rem;
  text-align: center;
  border-radius: 0.1875rem;
}

.boton {
  width: 100%;
  min-width: 18.5rem;
  max-width: 20.5rem;
  height: 2.5625rem;
  flex-shrink: 0;
  border-radius: 0.1875rem;
  background: #56b947;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: #fff;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 3rem;
}

.Contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.formContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedorCierre {
  display: flex;
  justify-content: flex-end;
  top: 0;
}

/* Estilos responsivos para pantallas pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 600px) {
  .input {
    min-width: 20rem;
    max-width: 22rem;
  }
  .boton {
    max-width: 21rem;
  }
  .formulario {
    width: 100%;
  }
}
