.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.image {
  width: 100%;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.optionContainer {
  display: flex;
  height: 100%;
  flex-direction: row;
  text-align-last: center;
}

.selector {
  padding-left: 0.5rem;
  width: 40%;
  height: 120%;
  background-color: #56b947;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 1.39rem */
  letter-spacing: -0.011rem;
  border-radius: 0.3rem;
  border: none;
}
.input {
  padding-left: 0.5rem;
  width: 40%;
  height: 120%;
  border-radius: 0.3rem;
  border: 1px solid #56b947;
  border: none;
}

.pruebaContenedor {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 1.75rem;
}

.botonera {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 90%;
  align-self: center;
  gap: 0.5rem;
}

.addButton {
  background-color: #56b947;
  color: white;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 1.39rem */
  letter-spacing: -0.011rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  border: none;
}

.button {
  background-color: #535353;
  color: #56b947;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 1.39rem */
  letter-spacing: -0.011rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  border: none;
}
