@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.cardContainer {
  display: flex;
  padding: 0.625rem;
  flex-direction: column;
  align-items: center;
  gap: -2rem;
}

.image {
  width: 100%;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.optionContainer,
.pruebaContenedor {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  height: 3rem;
  justify-content: space-between;
}

.selector {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 0.1575rem;
  background: #70b756;
  border: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  font-style: normal;
  line-height: 139%;
  letter-spacing: -0.011rem;
  height: 100%;
  padding-left: 0.5rem;
}

.selector:hover {
  cursor: pointer;
  background-color: #58a43c;
}

.input {
  display: flex;
  width: 50%;
  border-radius: 0.1875rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #d9d9d9;
  height: 95%;
  padding-left: 0.5rem;
}

.input:focus {
  outline: none;
  border: 2px solid #70b756;
}
.botonera {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}

.addButton,
.button {
  background-color: transparent;
  border: none;
  color: #70b756; /* color original del SVG */
}

.addButton:hover,
.button:hover {
  cursor: pointer;
  color: red; /* o cualquier otro color que quieras al hacer hover */
}
