.image {
  width: 18.9375rem;
}

.card {
  display: flex;
  width: 20rem;
  min-width: 23rem;
  padding: 1.375rem 0.5625rem;
  align-items: flex-start;
  gap: -4.8125rem;
  background-color: #d9d9d9;
  flex-direction: column;
  align-items: center;
}

.optionContainer {
  display: flex;
  gap: 1.875rem;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  display: flex;
  width: 9.125rem;
  justify-content: center;
  align-items: center;
  background-color: #56b947;
  background: #56b947;
  display: flex;
  height: 2.875rem;
  padding: 0.75rem 2.0625rem;
  justify-content: center;
  align-items: center;
  gap: -0.1875rem;
  flex-shrink: 0;
  color: #fff;
  color: rgba(0, 0, 0, 0.28);
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 139%;
  letter-spacing: -0.011rem;
}

.removeButton {
  display: inline-block;
  width: 1em; /* ajusta esto según tus necesidades */
  height: 98%;
  background: transparent;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  border: none;
  color: black; /* color de la "X", ajústalo a tus necesidades */
  cursor: pointer;
  margin-left: -3.3em;
}

.pruebaContenedor {
  display: flex;
  align-items: flex-start;
  gap: 1.1875rem;
  height: 2.9rem;
  margin-bottom: 1rem;
}

.button {
  background-color: #232323;
  height: 100%;
  width: 19.125rem;
  color: #fff;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.011rem;
  border: none;
}

.botonera {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.selector.addedToCart {
  border-color: green;
}

.input {
  display: flex;
  width: 8.125rem;
  height: 2.875rem;
  padding: 0.5625rem 0.6875rem;
  align-items: center;
  gap: 0.625rem;
  border: 0.5px solid #56b947;
  background: #fff;
}

.selector {
  display: flex;
  width: 8.625rem;
  padding: 0.75rem 2.0625rem;
  justify-content: center;
  align-items: center;
  gap: -0.1875rem;
  flex-shrink: 0;
  background: #56b947;
  border: none;
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 800;
  line-height: 139%; /* 1.39rem */
  letter-spacing: -0.011rem;
}

.button {
  width: 18rem;
  margin-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.details {
  margin-left: -1rem;
  margin-top: -1rem;
}
