@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.contenedor {
  z-index: 10000;
  height: 44px;
  background: #232323e2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botonera {
  display: inline-flex;
  align-items: flex-start;
  width: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin-left: 2rem;
}

.icono:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.carrito {
  display: flex;
  width: 3.5rem;
}
.contenedor {
  z-index: 10000;
  height: 44px;
  background: #232323e2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botonera {
  display: inline-flex;
  align-items: flex-start;
  margin-right: 2rem;
  align-items: center;
}

@media (max-width: 768px) {
  .botonera {
    display: none;
  }
}

.mobileMenuIcon {
  display: none;
}

@media (max-width: 768px) {
  .mobileMenuIcon {
    display: block;
  }
}

.mobileMenu {
  display: none;
  flex-direction: column;
  background-color: #56b947;
  position: absolute;
  top: 44px;
  width: 100%;
  padding: 10px;
}

.mobileMenu > div {
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.mobileMenu > div:last-child {
  border-bottom: none;
}

@media (max-width: 768px) {
  .mobileMenu {
    display: flex;
  }
}

@media (max-width: 768px) {
  .contenedor {
    background: #232323e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    margin-left: 2rem;
  }

  .mobileMenuIcon {
    padding-right: 2rem;
  }
  .mobileMenu {
    padding-left: 3rem;
  }
  .spanm {
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 900;
    padding-left: 1rem;
  }
}
