.navBar {
  position: sticky; /* Agrega esta línea */
  top: 0; /* Agrega esta línea */
}

.generalBody {
  background-color: #232323;
  display: flex;
}

.generalContaier {
  display: flex;
  flex-direction: column;
  flex: 1; /* Esto hará que el contenedor tome todo el espacio restante */
}

.firstPart {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: space-around;
}

.secondPart {
  margin-top: 5rem;
}

.table {
  display: flex;
  place-content: center;
}

.button {
  display: inline-flex;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  background: #56b947;
  color: #fff;
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
