@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
}

.titulo {
  color: #f5f5f5;
  font-family: Roboto;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 3.1275rem */
  letter-spacing: -0.02475rem;
  margin-left: -4rem;
}

.cardContainer {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.pagination {
  display: flex;
  width: 75%;
  gap: 4rem;
  /* background: transparent; */
  justify-content: center;
}

.buttons {
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}
.buttons:focus {
  outline: none;
  color: #56b947;
}

.buttons:active {
  color: #56b947;
}

.button {
  background-color: transparent;
  border: none;
  color: white;
}

.pagination {
  margin-bottom: 2rem;
}

.filter {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.1875rem;
  background: #56b947;
  border: none;
}
