@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.contenedorCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  height: 10.875rem;
  flex-shrink: 0;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: space-between; /* Añade esto */
  align-items: center; /* Centra verticalmente el contenido */
  margin-bottom: 2rem;
  border-radius: 0.3125rem;
  margin-left: 2rem;
  margin-right: 4rem;
}

.productImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.orderInfo {
  display: flex;
  flex-direction: column;
}

.detailButton,
.repeatButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.3125rem;
}

.orderDetailHidden {
  display: none;
}

.contenedorBotones {
  display: flex;
  flex-direction: column;
}

.enProceso {
  color: #b9b447;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.39rem;
  letter-spacing: -0.011rem;
}

.entregado {
  color: #56b947;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.39rem;
  letter-spacing: -0.011rem;
}

.detailButton {
  width: 8.8125rem;
  height: 2.3125rem;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 1.39rem */
  letter-spacing: -0.011rem;
  background-color: #56b947;
  transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}

.detailButton:hover {
  background-color: #45a037; /* Cambio de color al hacer hover */
}

.repeatButton {
  height: 2.3125rem;
  flex-shrink: 0;
  color: #56b947;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 1.39rem */
  letter-spacing: -0.011rem;
  background-color: #cde2c3;
  transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}

.repeatButton:hover {
  background-color: #a4ca92; /* Cambio de color al hacer hover */
}

.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detallePedido {
  color: rgb(67, 67, 67);
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139%; /* 1.0425rem */
  letter-spacing: -0.00825rem;
}

.detallePedidoB {
  color: rgb(128, 127, 127);
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139%; /* 1.0425rem */
  letter-spacing: -0.00825rem;
  width: 207.81px; /* Establece el ancho máximo */
  white-space: nowrap; /* Evita que el texto se divida en líneas */
  overflow: hidden; /* Esconde el contenido que sobrepasa el límite */
  text-overflow: ellipsis; /* Añade los puntos suspensivos al final si el contenido sobrepasa el límite */
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.829);
  z-index: 10;
  backdrop-filter: blur(4.5px);
}

.modalContent {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;
  width: 80%;
  max-width: 30%; /* Ajusta este valor a tu gusto */
  max-height: 90vh; /* Un poco menos que 100vh para evitar problemas con la barra de desplazamiento */
  z-index: 20;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modalContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.contenedorTexto {
  display: flex;
  flex-direction: column;
}

.line {
  background-color: black;
  width: 100%; /* Haz que la línea ocupe todo el ancho disponible */
  height: 0.0625rem;
}

.titulo {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.01375rem;
}

.textContainerModal {
  display: flex;
  flex-direction: column;
}

.tituloModelo {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 2.25875rem */
  letter-spacing: -0.01788rem;
  align-self: center;
}

.textContainerModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputModal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.modalText {
  flex-shrink: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.botonConfirmacion {
  height: 2.3125rem;
  font-size: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-shrink: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 1.39rem */
  letter-spacing: -0.011rem;
  background-color: #56b947;
  transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}

.botonConfirmacion:hover {
  background-color: #45a037; /* Cambio de color al hacer hover */
}
.titulosTabla {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 1.39rem */
  letter-spacing: -0.011rem;
}

.table {
  margin-top: 3rem;
}

.tablaB {
  background-color: none;
}

.tr {
  border-bottom: 3px solid white; /* Línea blanca debajo de cada fila */
  height: 100px; /* Alto fijo para las filas */
}

.th,
.td,
.td1 {
  border-right: 3px solid white; /* Línea blanca entre las columnas */
  padding-left: 30px; /* Espacio a la izquierda del texto */
  padding-right: 30px; /* Espacio a la derecha del texto */
}

.titulosTabla:last-child,
.td:last-child {
  border-right: none; /* Para no tener una línea blanca extra en el último encabezado o columna de datos */
}

.td,
.td1 {
  border-bottom: 1px solid white;
}

.tbody tr:last-child {
  border-bottom: none;
}

.titulosTabla:nth-child(3), /* selector para el encabezado de la columna ID */
.td:nth-child(3) {
  width: 465px; /* Anchura fija para la columna de ID */
}

.td,
.td1 {
  height: 9rem;
}

.td1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 1.39rem */
  letter-spacing: -0.011rem;
}

.td {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 200;
  line-height: 139%; /* 1.39rem */
  letter-spacing: -0.011rem;
}

.tdHighlighted {
  background-color: #56b947; /* Cambia #colorDeseado por el código del color que desees */
}

.tablaB {
  background-color: #56b947;
  position: sticky;
  top: 0;
  z-index: 10; /* Para asegurar que se superponga sobre el contenido cuando se desplace */
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.titulosTabla {
  border-bottom: 1px solid white;
}

.contenedorModal {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.modalTextB {
  flex-shrink: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  background-color: #56b947;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  border-radius: 0.3125rem;
}

.modalTextB::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.modalTextB:-ms-input-placeholder {
  color: white;
}

.modalTextB::-ms-input-placeholder {
  color: white;
}

/* Firefox < 19 */
.modalTextB:-moz-placeholder {
  color: white;
  opacity: 1;
}

/* Firefox > 19 */
.modalTextB::-moz-placeholder {
  color: white;
  opacity: 1;
}

/* Internet Explorer 10-11 */
.modalTextB:-ms-input-placeholder {
  color: white;
}

/* Edge */
.modalTextB::-ms-input-placeholder {
  color: white;
}

/* Safari and Chrome */
.modalTextB::-webkit-input-placeholder {
  color: white;
}

.modalSelect {
  flex-shrink: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  background-color: #56b947;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  border-radius: 0.3125rem;
}
