.contenedorCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  height: 8.875rem;
  flex-shrink: 0;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 10rem;
  margin-right: 10rem;
  justify-content: space-between; /* Añade esto */
  align-items: center; /* Centra verticalmente el contenido */
  margin-bottom: 2rem;
}

.productImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.orderInfo {
  display: flex;
  flex-direction: column;
}

.detailButton,
.repeatButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.orderDetailHidden {
  display: none;
}

.contenedorBotones {
  display: flex;
  flex-direction: column;
}

.enProceso {
  color: #b9b447;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.39rem;
  letter-spacing: -0.011rem;
}

.entregado {
  color: #56b947;
  font-family: Roboto;
  font-style: normal;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.39rem;
  letter-spacing: -0.011rem;
}

.detailButton {
  width: 8.8125rem;
  height: 2.3125rem;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 1.39rem */
  letter-spacing: -0.011rem;
  background-color: #56b947;
  transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}

.detailButton:hover {
  background-color: #45a037; /* Cambio de color al hacer hover */
}

.repeatButton {
  width: 8.8125rem;
  height: 2.3125rem;
  flex-shrink: 0;
  color: #56b947;
  text-align: center;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 1.39rem */
  letter-spacing: -0.011rem;
  background-color: #cde2c3;
  transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}

.repeatButton:hover {
  background-color: #a4ca92; /* Cambio de color al hacer hover */
}

.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detallePedido {
  color: rgb(67, 67, 67);
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139%; /* 1.0425rem */
  letter-spacing: -0.00825rem;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.829);
  z-index: 10;
  backdrop-filter: blur(4.5px);
}

.modalContent {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;
  width: 80%;
  max-width: 30%; /* Ajusta este valor a tu gusto */
  max-height: 90vh; /* Un poco menos que 100vh para evitar problemas con la barra de desplazamiento */
  z-index: 20;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modalContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.contenedorTexto {
  display: flex;
  flex-direction: column;
}

.line {
  background-color: black;
  width: 100%; /* Haz que la línea ocupe todo el ancho disponible */
  height: 0.0625rem;
}

.titulo {
  color: #000;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.01375rem;
}
