@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.contenedorGeneral {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-right: 2rem;
}

@media (max-width: 768px) {
  .contenedorGeneral {
    grid-template-columns: 1fr;
  }
  .form {
    margin: 1rem;
  }
  .input,
  .boton {
    width: 100%;
  }
  .inputContenedor > div {
    width: 100%;
  }
}

.form {
  margin: 3rem;
}

.formSubs {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.011rem;
}

.inputContenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.botonera {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.columna {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input {
  width: calc(100% - 44px); /* Ajustado para tener en cuenta el padding */
  background-color: #d9d9d9;
  border: solid 0.2px #000000;
  border-radius: 0.2rem;
  padding: 0.5rem 2.2rem 0.5rem 1.2rem; /* Ajustado para tener un padding uniforme */
}

.input:focus {
  outline: solid 2px #a4ca92;
  border: none;
}

.boton {
  background-color: #56b947;
  color: white;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.011rem;
  transition: 0.2s;
  cursor: pointer;
  width: 100%;
}

.boton:hover {
  background-color: #459539;
}

.tlte {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: white;
}

.subtitles {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  color: white;
}

.toggle {
  color: white;
  transition: 0.2s;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: white;
  background: none;
  border: none;
}

.toggle:hover {
  color: #56b947;
}

/* Nuevos estilos para los mensajes de error */
.error {
  color: #ff4f4f;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 942px) {
  .formSubs {
    font-size: 0.8rem;
  }
}
