@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.contenedorGeneral {
  display: flex;
  justify-content: space-between;
  /* gap: 2rem; */
  margin-right: 2rem;
}

.form {
  margin: 3rem;
}

.formSubs {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.011rem;
}

.inputContenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.botonera {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.columna {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input {
  width: 100%;
  background-color: #d9d9d9;
  border: solid 0.2px #000000;
  border-radius: 0.2rem;
  padding: 0.5rem 0.25rem 0.5rem 2.2rem; /* Simplificado */
}
.input:focus {
  outline: solid 2px #a4ca92;
  border: none;
}
.boton {
  background-color: #a4ca92;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  color: #56b947;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.011rem;
  transition: 0.2s;
  width: 15rem;
  cursor: pointer;
}

.boton:hover {
  background-color: #459539;
  cursor: pointer;
}

.tlte {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: white;
}

.subtitles {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  color: white;
}

.toggle {
  color: white;
  transition: 0.2s;
}

.toggle:hover {
  color: #56b947;
}
