.contenedor {
  display: flex;
  width: 100vw; /* Ocupar todo el ancho de la pantalla */
  height: 70vh; /* Ocupar todo el alto de la pantalla */
  margin: 0;
}

.image1,
.image2 {
  position: relative;
}

.image1 {
  flex: 5.3; /* 70% del espacio total */
}

.image2 {
  flex: 3; /* 30% del espacio total */
}
