.table {
  width: 75%; /* Esto permitirá que la tabla se expanda al ancho del contenedor */
  table-layout: fixed; /* Esto asegura que las columnas se ajusten al contenido */
  border-collapse: collapse; /* Esto eliminará los espacios entre celdas */
}

.title,
.celda {
  padding: 0 2rem; /* Agregar padding de 2rem a cada lado */
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.39rem;
  letter-spacing: -0.011rem;
}

.title {
  background: #56b947;
  text-align: center;
}

.celda {
  background: #232323;
  text-align: center;
  height: 3rem;
  border: solid white 1px;
}
