@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.generalContainer {
  display: flex;
  flex-direction: column;
}

.generalReviews {
  display: flex;
  flex-direction: row;
  color: #232323;
  gap: 1;
  font-family: "Roboto", sans-serif;
  font-size: 0.975rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139%; /* 1.21625rem */
  letter-spacing: -0.00963rem;
  justify-content: center;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
}

.button {
  background-color: transparent;
  border: none;
  color: #232323;
  font-weight: 900;
}

.reviewCard {
  min-height: 350px; /* Ajusta según tus necesidades */
  max-height: 350px;
  overflow-y: auto; /* Esto permitirá que el contenido se desplace si es demasiado largo para la tarjeta */
}

.title {
  color: #000;
  font-family: Roboto;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.02063rem;
  display: flex;
  justify-content: center; /* Centramos el texto */
  margin-bottom: 2rem;
  text-align: center; /* Aseguramos que el texto esté centrado */
}

@media screen and (max-width: 768px) {
  .title {
    flex-direction: column; /* Esto permite que el contenido se muestre en columna */
    white-space: normal;
    font-size: 1.4rem;
    display: none;
  }
  .titleContainer {
    align-items: center;
  }

  .containerI {
    display: none;
  }
}

.divisor {
  align-self: center;
  width: 100%;
  height: 2px;
  background-color: rgba(41, 40, 40, 0.513);
  margin-top: 3rem;
}

.containerI {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
}
