@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.generalContainer {
  background-size: cover;
  background-repeat: no-repeat; /* Asegúrate de que tu imagen no se repita */
  background-position: center center; /* Centrar la imagen */
  justify-content: center;
}

.title {
  align-self: stretch;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.containerG {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.motivosContainer {
  display: flex;
  flex-direction: row;
    justify-content: space-around;

}

.motivoIndividual {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.9375rem;
  background: #395c34;
  padding: 1rem;
}

.titleDescription {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 1.7375rem */
  letter-spacing: -0.01375rem;
}

.description {
  width: 15rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.marcasContainer {
  display: flex;
  justify-content: center;
  width: 55%;
}

.motivosContainer,
.marcasContainer {
  max-width: 1143.83px; /* El valor máximo que mencionaste */
  width: 100%; /* Ocupará el 100% del contenedor padre, pero no excederá el valor max-width */
  margin: 0 auto; /* Esto centrará el contenedor si su ancho es menor que el ancho de la pantalla */
  /* ...otros estilos... */
}

.downContainer {
  display: flex;
  flex-direction: column;
  max-width: 1143.83px; /* El valor máximo que mencionaste */
  width: 100%; /* Ocupará el 100% del contenedor padre, pero no excederá el valor max-width */
}

.reviewCardContainer {
  min-height: 200px; /* Puedes ajustar este valor según tus necesidades */
  max-height: 300px; /* Puedes ajustar este valor según tus necesidades */
  overflow-y: auto; /* Permite el desplazamiento si el contenido es demasiado para la altura máxima */
}
