@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.background {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  width: 90%;
}

@media screen and (max-width: 1200px) {
  .background {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .background {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .background {
    grid-template-columns: repeat(1, 1fr);
  }
}

.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;
}

.gridItem img {
  width: 80%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.containerd {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #395c34;
  border-radius: 0.9375rem;
  padding-bottom: 2rem;
}

.title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  border-radius: 0.1875rem;
  background: #56b947;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  transition: transform 2s ease-in-out;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 12rem;
}

.title:hover {
  background-color: #3d8d30;
}
.titulo {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin-top: 3rem;
}
.gridItem img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
:hover.imagen {
  scale: 1.05;
}

.titulo {
}

.contenedor {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contenedorGeneral {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modalImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.miniatureImagesContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.modalText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25.25rem;
  flex-shrink: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 2rem;
}

.modalThumbnails {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.6rem;
  margin-top: 2rem;
}

.modal {
  background-color: #232323;
  height: auto;
  display: flex;
  width: 100%;
  gap: 2rem;
  padding: 2rem;
}

.imagenModal {
  background-color: #d9d9d9;
}

.modalTitle {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 2.25875rem */
  letter-spacing: -0.01788rem;
}
.trapecio {
  position: absolute;
  bottom: 0;
  right: 0;
}

.boton {
  border-radius: 0.1875rem;
  background: #56b947;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 1.7375rem */
  letter-spacing: -0.01375rem;
}

.botonera {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}
