@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.generalContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: #d9d9d9;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.subtitles {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
}

.tlte {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.inputContenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.formSubs {
  color: #d9d9d9;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;

  background-color: #d9d9d9;
  border: solid 0.2px #000000;
  border-radius: 0.2rem;
  padding: 0.5rem 0.25rem 0.5rem 2.2rem; /* Simplificado */
}

.input:focus {
  outline: solid 2px #a4ca92;
  border: none;
}

.inputImagePlaceholder {
  position: absolute;
  left: 10px;
  height: 1rem;
  width: auto;
  pointer-events: none;
}

.botonera {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}

.boton,
.boton2 {
  background-color: #a4ca92;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  color: #56b947;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.011rem;
  transition: 0.2s;
  width: 15rem;
  cursor: pointer;
}

.boton {
  background-color: #56b947;
  color: white;
}

.boton:hover {
  background-color: #459539;
  cursor: pointer;
}

.boton2:hover {
  background-color: #8eb37d;
  color: #3e9031;
  cursor: pointer;
}

.olvidaste:hover {
  color: #3e9031;
  cursor: pointer;
}

.input {
  width: 100%;
  background-color: #d9d9d9;
  border: 0.2rem solid #000000;
  border-radius: 0.2rem;
  padding: 0.5rem 0.25rem 0.5rem 2.2rem;
}

.boton,
.boton2 {
  max-width: 15rem;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .signInFormContainer {
    width: 85%;
  }

  .titulo {
    font-size: 2rem;
  }

  .input {
    font-size: 0.9rem;
  }

  .boton,
  .boton2 {
    font-size: 0.9rem;
  }

  .tlte {
    font-size: 2.5rem;
  }

  .subtitles {
    font-size: 1.3rem;
  }
}

/* Para pantallas de tablets */
@media screen and (max-width: 991px) {
  .signInFormContainer {
    width: 80%;
  }

  .titulo {
    font-size: 1.75rem;
  }

  .input {
    font-size: 0.85rem;
  }

  .boton,
  .boton2 {
    font-size: 0.85rem;
  }

  .tlte {
    font-size: 2.2rem;
  }

  .subtitles {
    font-size: 1.2rem;
  }
}

/* Para pantallas de móviles */
@media screen and (max-width: 767px) {
  .signInFormContainer {
    width: 95%;
  }

  .titulo {
    font-size: 1.5rem;
  }

  .input {
    font-size: 0.8rem;
  }

  .boton,
  .boton2 {
    font-size: 0.8rem;
  }

  .tlte {
    font-size: 2rem;
  }

  .subtitles {
    font-size: 1.1rem;
  }
}
