@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; /* Esto define el espacio entre las cards */
  margin-left: 4rem;
}

.modalPrices {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: #232323;
  color: white;
}

.button {
  color: #56b947;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 1.39rem */
  letter-spacing: -0.011rem;
  border-radius: 0.1875rem;
  background-color: #cde2c3;
  width: 8.8125rem;
  height: 2.3125rem;
  width: 70%;
}
