.contenedor {
  display: flex;
  justify-content: center; /* add this */
  flex-direction: column; /* add this if you want the items to stack vertically */
}

.titulo {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.reviewGeneralContenedor {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
