@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.generalContainer {
  display: flex;
  flex-wrap: wrap;
}

.izqContainer {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  gap: 1rem;
  padding-left: 6rem;
}

.titulo {
  color: #232323;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 3.5rem;

  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 139%; /* 1.91125rem */
  letter-spacing: -0.01513rem;
}
.iconosForm {
  margin-top: 1.5rem;
}
.parrafo {
  width: 29.625rem;
  height: 9.0625rem;
  color: #232323;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 2rem;
}

.whatsappContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.number {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139%; /* 1.91125rem */
  letter-spacing: -0.01513rem;
}

.derContainer {
  background: #232323;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}

.titleForm {
  margin-top: 3.5rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 139%; /* 1.91125rem */
  letter-spacing: -0.01513rem;
  width: 80%;
}

.inputs {
  height: 3.3125rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 1px solid #000;
  background: #d9d9d9;
  padding-left: 1rem;

  margin-top: 2rem;
}

.inputsb {
  height: 3.3125rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 1px solid #000;
  background: #d9d9d9;
  margin-top: 1rem;
  padding-left: 1rem;
}

.mensaje {
  height: 13.1875rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 0.5px solid #000;
  background: #d9d9d9;
  margin-top: 1rem;
  padding-left: 1rem;
}

.enviar {
  margin-top: 1rem;
  height: 4.375rem;
  flex-shrink: 0;
  border-radius: 0.1875rem;
  background: #56b947;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  border: none;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
}

.contenedorImagen {
  margin-left: 10rem;
  margin-top: -4.5rem;
}

.trapecio {
  left: 0;
  bottom: 0;
}

.icon {
  transition: transform 0.1s ease-in-out;
}

.iconHover {
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  25%,
  75% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animatedIcon {
  animation: pulse 0.5s infinite;
}

.animatedIcon {
  animation: pulse 0.5s ease-in-out infinite;
}

.formContainer {
  margin-left: 6rem;
}

@media (max-width: 768px) {
  .generalContainer {
    flex-direction: column;
    height: auto; /* Ajustar la altura automáticamente en dispositivos más pequeños */
  }

  .izqContainer,
  .derContainer {
    width: 100%; /* Ambos contenedores tomarán el 100% del ancho en dispositivos más pequeños */
  }

  .izqContainer {
    padding-left: 2rem; /* Reducir el padding en dispositivos más pequeños */
  }
}

/* Para pantallas de móvil hacia abajo */
@media (max-width: 480px) {
  .titulo,
  .titleForm {
    font-size: 2rem; /* Reducir el tamaño de la fuente en dispositivos muy pequeños */
  }

  .parrafo {
    font-size: 1rem; /* Reducir el tamaño de la fuente del párrafo en dispositivos muy pequeños */
  }
}

.form,
.formContainer {
  max-width: 100%; /* Ensure the form never exceeds the width of its container */
  overflow: auto; /* In case there's any overflow, show a scrollbar */
  padding-right: 1rem; /* Add some padding to ensure content doesn't touch the edge */
}

.inputs,
.inputsb,
.mensaje {
  max-width: 100%; /* This ensures the inputs don't exceed their container's width */
}

.izqContainer,
.derContainer {
  width: 50%;
}
