@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.generalContainer {
  display: flex;
  width: 100%;
/*   background: url("/background-contactanos.png");
  background-color: #232323; */
  align-items: center;
  justify-content: center;
  position: relative;
}

.contactanosInfo {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.formContainer {
  background-color: #d9d9d9;
  border-radius: 0.5rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  height: 44.125rem;
  margin-top: 6rem;
}

.enviar {
  width: 30%;
  background-color: #a4ca92;
  border: none;
  border-radius: 0.2rem;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #56b947;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 1.39rem */
  letter-spacing: -0.011rem;
  transition: 0.2s;
}

.enviar:hover {
  background-color: #8eb37d;
  color: #3e9031;
}

.botonContenedor {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.inputsContainerGeneral {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
}

.inputs {
  background-color: #d9d9d9;
  border: solid 0.2px #000000;
  border-radius: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
}
.inputs:focus {
  outline: solid 2px #a4ca92;
  border: none; /* Cambia 'tuColorDeseado' por el color que prefieras, por ejemplo #FF5733. */
}

.naming {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1rem;
}

.mensaje {
  background-color: #e3e3e3;
  border: none;
  border-radius: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  height: 24rem;
  border: solid 0.2px #000000;
}

.mensaje:focus {
  outline: solid 2px #a4ca92;
  border: none;
}

.titulo {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.parrafo {
  color: #fff;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 70%;
}

.whatsappContainer {
  display: flex;
  flex-direction: row;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139%; /* 1.91125rem */
  letter-spacing: -0.01513rem;
  align-items: center;
  gap: 2rem;
  transition: 0.2s;
  text-decoration: none;
}

.whatsappContainer:hover {
  cursor: pointer;
  outline: solid 4px #5ebe4f;
  border: none;
  width: 20rem;
  border-radius: 0.5rem;
  color: #5ebe4f;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.number {
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .generalContainer {
    flex-direction: column;
    padding: 1rem;
  }

  .formContainer {
    width: 80%; /* Ajustar según tus preferencias */
  }
}

/* Para pantallas pequeñas como 768 */
@media screen and (max-width: 768px) {
  .generalContainer {
    flex-direction: column;
    padding: 1rem;
  }

  .formContainer {
    width: 90%; /* Ajustar según tus preferencias */
    margin-top: 1rem;
  }
}

/* Para dispositivos móviles (425, 375, 320) */
@media screen and (max-width: 425px) {
  .generalContainer {
    flex-direction: column; /* Esto hará que los hijos (contactanosInfo y formContainer) se apilen verticalmente */
    height: auto;
    padding: 1rem 0;
  }

  .contactanosInfo,
  .formContainer {
    width: 90%;
    margin: 0 auto; /* Centrado horizontal */
  }

  .formContainer {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .generalContainer {
    flex-direction: column;
  }
}
.socialMedia {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  margin-bottom: 1rem;
}

.iconFacebookB {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  border: solid 0.5rem transparent; /* Asignamos un borde transparente en su estado normal */
  transition: 0.1s;
}

.iconFacebookB:hover {
  border-color: #5ebe4f;
  background-color: #5ebe4f; /* Solo cambiamos el color del borde en el estado hover */
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  position: relative;
}

.inputs {
  background-color: transparent; /* o el color de fondo que desees */
  padding-left: 40px; /* suficiente espacio para la imagen */
  /* demás estilos */
}

.inputImagePlaceholder {
  position: absolute;
  left: 10px; /* ajusta según necesites */
  top: 50%;
  transform: translateY(-50%);
  height: 20px; /* ajusta según el tamaño de tu imagen */
  width: auto;
}
