.background {
  background-color: #232323;
  max-height: 100%;
}

.titulo {
  margin-top: 8rem;
  color: #f5f5f5;
  font-family: Roboto;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%; /* 3.1275rem */
  letter-spacing: -0.02475rem;
  margin-left: 10rem;
}
