@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.background {
  background-color: #232323;
  max-height: 100%;
  min-height: 100vh;
}

.titulo {
  margin-top: 2rem;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 139%; /* 3.1275rem */
  letter-spacing: -0.02475rem;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: 12%;
  margin-right: 12%;
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .titleContainer {
    margin-left: 12%;
    margin-right: 12%;
  }
}

.cardContainer {
  margin-left: 12%;
  margin-right: 12%;
}
