@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.titulo {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.011rem;
  color: white;
  width: 100%;
  margin-top: 2rem;
  text-align: -webkit-center;
}

.containerGeneral {
  display: flex;
  flex-direction: column;
}

.closeButton {
  background-color: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 139%;
  letter-spacing: -0.011rem;
  color: #56b947;
  cursor: pointer;
  place-self: end;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button {
  display: inline-flex;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  background: #56b947;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  border: none;
  align-self: center;
  margin-top: 2rem;
}

.button:hover {
  background: #45903a;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  cursor: pointer;
}

.center {
  align-self: center;
}
